h1 {
    text-align: center;
}

.main-content a {
    text-decoration: none;
    color: antiquewhite;
}

.main-content, .compare-table-container, .product-container {
    margin: 5vw;
}

/* header styling*/
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2%;
}

#logo {
    width: 20vw;
    
}

/* Show nav links when the menu is active */
.navbar {
    height: 0;
    width: 100%;
    position: fixed;
    top: 20vw;
    left: 0;
    display: flex;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.9);
    overflow: hidden;
    transition: 0.5s;
}

.menu-btn {
    font-size: 2rem;
    width: auto;
    background: none;
    border: none;
    color: rgb(0, 0, 0);
    cursor: pointer;
}

.menu {
    width: 100%;
    text-align: center;
}

.menu-item {
    list-style-type: none;
    padding: 20px;
}

.menu-item a {
    text-decoration: none;
    font-size: 20pt;
    color: rgb(0, 0, 0);
    display: block;
}

.no_scroll {
    overflow-y: hidden;
}
/* end of header styling */


/* index.html -- main styling */
.wide-container {
    background-image: url("https://picsum.photos/seed/picsum/500/200");
    background-size: cover;
    background-position: center;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2vw;
}

.center {
    text-align: center;
    margin: 0 5vw;
}

.explore-btn {
    background-color: #b55b2b;
    color: antiquewhite;
    border: none;
    cursor: pointer;
    padding: 12px 24px;
    font-size: medium;
    margin: 4px;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  text-align: center;
}

.mySlides.fade{
    display: none;
}


.mySlides.fade.active{
    display: flex;
    justify-content: center;
}


/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  background-color: rgba(255, 255, 255, 0.8);
}

.prev {
    left: 5%;
    border-radius: 0 3px 3px 0;
}

.next {
  right: 5%;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(255, 255, 255);
}

/* Caption text */
.text {
    background-color: white;
    color: #b55b2b;
    font-size: 20px;
    padding: 8px 0;
    position: absolute;
    bottom: 8px;
    width: 90%;
    text-align: center;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dot.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}


.review-container, .container, .product-container{
    display: grid;
    grid-template-columns: 1fr;
}

.review-col {
    background-color: #FEEDDC;
    padding: 5px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.grid img {
    width: 90%;
}

.container img {
width: 90%;
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2vw;
}

.option-container {
    display: flex;
}

.option {
    margin: 2vw;
    text-align: center;
}

/* end of index.html -- main styling */


/* pricing.html -- main styling */
.compare-table-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.buy-btn {
    background-color: #2e72d9;
    color: rgb(255, 255, 255);
    cursor: pointer;
    padding: 8px 16px;
    border-radius: 24px;
    border: none;
}

.feature, 
.data {
    text-align: center;
    p {
        font-size: 1rem;
    }
}

/* end of pricing.html -- main styling */


footer {
    padding: 2vw;
    margin: 5vw 0 0 0;
    background-color: #fae9d0;
    text-align: center;
}


/* tablet + desktop screen */
@media (min-width: 600px) and (max-width: 2000px) {
    .review-container, .container {
        grid-template-columns: repeat(3, 1fr);
    }

    .review-col {
        justify-content: space-between;
    }

    .product-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .main-content {
        margin: 0 4vw 0 4vw;
    }

}